_docs/
_bookdown_files/
cache.nosync/
cache/
libs/
**/*.bib
**/*.html
# ignore all html files except:
!**/mathjax_header.html
# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
Corrections/